<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njfu.edu.mapper.UserMapper">
    <insert id="insertUser" parameterType="String">
        insert into lessontraining.user(username,password)
        value(#{username},#{password});
    </insert>

    <select id="selectUserMessage" resultType="User">
        select * from lessontraining.user
    </select>

    <delete id="deleteUserById" parameterType="String">
        delete from lessontraining.user where user_id = #{id}
    </delete>

    <select id="selectUserIdByPhone" parameterType="String" resultType="Long">
        select user_id from lessontraining.user where password = #{phone}
    </select>
</mapper>